body {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  background-color: #E9E9E9;
  background: url(brushed.png);
}

#pageTitle {
  color: #575757;
  letter-spacing: .25em;
}

#barcodeForm {
  margin-top: 60%;
  border: 2px solid #8E8E8E;
  padding: 10%;
  border-radius: 5px;
}

#barcodeInput {
  background-color: #DADADA;
}

#submitButton {
  color: #0CC5E3;
  font-weight: bold;
  background-color: #f7f7f7;
}

#middleAnchor {
  margin-top: 30%;
}

#itemTable {
  margin-top: 40%;
  background-color: #DADADA;
}

#glutenStatusText {
  color: #0CC5E3;
  font-weight: bold;
}

#glutenStatusMessage {
  font-weight: bold;
}

#productTitle {
  color: #575757;
}

#productInput {
  background-color: #DADADA;
}

#addButton {
  color: #A17CFF;
  font-weight: bold;
  background-color: #f7f7f7;
}

#productTable {
  margin-top: 2%;
}

.btn {
  font-weight: bold;
  background-color: #f7f7f7;
  color: #575757;
  border: .5px solid #8f8f8f;
}

#bottomAnchor {
  margin-top: 30%;
}

#productSection {
  margin-top: 5%;
}

#bottomButton {
  margin-bottom: 5%;
}
